@import "tailwindcss";
@import "@heroui/styles";

:root {
  --accent: #7c3bed;
  --radius: 0.15rem;
  --field-radius: 0.5rem;
}

@theme {
  --font-rocknroll: var(--font-rocknroll-one);
}

@layer components {
  .heading-1 {
    @apply text-base text-muted;
  }

  .avatar__fallback svg {
    @apply size-5;
  }

  .avatar--sm .avatar__fallback svg {
    @apply size-4;
  }

  .avatar--lg .avatar__fallback svg {
    @apply size-6;
  }
}
