name: Deploy Migrations to Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-24.04

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.PRODUCTION_DB_PASSWORD }}
      PRODUCTION_PROJECT_ID: owagpoywxhbsckytdtoj
      GOOGLE_CLIENT_ID: "dummy"
      GOOGLE_SECRET: "dummy"
      OPENAI_API_KEY: "dummy"

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: supabase/setup-cli@v1

      - run: |
          supabase link --project-ref $PRODUCTION_PROJECT_ID
          supabase db push
