name: Deploy Migrations to Staging

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-24.04

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.STAGING_DB_PASSWORD }}
      STAGING_PROJECT_ID: ggkmppnjhrwzdsamzqbp
      GOOGLE_CLIENT_ID: "dummy"
      GOOGLE_SECRET: "dummy"
      OPENAI_API_KEY: "dummy"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: supabase/setup-cli@v1

      - run: |
          supabase link --project-ref $STAGING_PROJECT_ID
          supabase db push
